body {
    background-color: #9A616D;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  h5 {
    letter-spacing: 1px;
  }
  
  .btn-dark {
    background-color: #be27a6;
    color: white;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .box-icon {
    display: inline;
  }
  